body {
    background-repeat: no-repeat;
    background-image: url("images/cortina.gif");
    background-size: cover;
}

h1 {
    color: aqua;
    text-align: center;
}
.container {

    display: flex;
    justify-content: space-evenly;
}
#botton {
    border: 5px solid blue;
    width: 10%;
    text-align: center;
}
#box {
    border: 5px solid blue;
    width: 30%;
    text-align: center;

}
#reinicio {
    border: 5px solid blue;
    width: 10%;
    text-align: center;
}

@media screen and (max-width: 360px) {
    body {
        border-radius: 15px;
    }
