body {
    background-repeat: no-repeat;
    background-image: url("images/cortina.png");
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}
.container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 20px;




}
.frame{
    display: flex;
    justify-content: center;
}
#box {

    margin-top: 180px;
    height: 90px;
    font-size: 90px;
    color: white;
    text-align: center;
}
@media screen and (max-width: 360px) {
    body {
        border-radius: 15px;
    }
}