body {
    background-repeat: no-repeat;
    background-image: url("images/cortina.gif");
    background-size: cover;
}

h1 {
    color: aqua;
    text-align: center;
}
.container {

    display: flex;
    justify-content: space-evenly;
}
button {
    width: 10%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
}

.frame{
    display: flex;
    justify-content: center;
}



#box {
    width: 30%;
    margin-top: 290px;
    height: 90px;
    font-size: 90px;
    color: white;
    text-align: center;



}


@media screen and (max-width: 360px) {
    body {
        border-radius: 15px;
    }
}
